:root {
    --default-black: #000000;
    --default-write: #FFFFFF;
    --main-black: #212121;
    --second-black: #2F303A;
    --main-grey: #757575;
    --accent-color: #2196F3;
    --social-icon: #afb1b8;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-black)
    
}

/*Cкрытые заголовоки, точки*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

 h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .marker {
    text-decoration: none;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid red; */
}
.section {
    padding: 94px 0px;
}
.nav-container {
    display: flex;
}
 .nav-section {
     display: flex;
}
.header-section {
    border: 1px solid #ECECEC;
}
/* NAVIGATION SECTION*/
.nav-logo-blue {
        display: block;
        margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
        font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.nav-logo-black {
        font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--default-black);

}
.nav-list {
    display: flex;
}

.nav-link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-black);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current::after {
position: absolute;
display: block;
content: "";
width: 100%;
height: 4px;
background-color: var(--accent-color);
border-radius: 4px;
left: 0;
bottom: -1px;
}
.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
}

.nav-list .nav-item+ .nav-item {
    margin-left: 50px;
}
.current {
    color: var(--accent-color);
}

/* HEADER SECTION*/
.header-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.header-link {
display: flex;
align-items: center;
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-grey);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus {
    color: var(--accent-color);
}
.header-list .header-item + .header-item {
    margin-left: 50px;
}
.header-icons {
    margin-right: 10px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* UNIQUE SECTION */
.unique-section {
    padding-top: 200px;
padding-bottom: 200px;
background:#C4C4C4;
text-align: center;
margin-left: auto;
margin-right: auto;
max-width: 1600px;
height: 600px;
background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
 url(../image/overlay.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

}

.unique-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--default-write);
/* outline: 2px solid red; */
}

.unique-button {
    font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
cursor: pointer;
text-align: center;
border-radius: 4px;
padding: 10px 32px;
margin-top: 30px;
color: var(--default-write);
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);   
}
.unique-button:hover, .u-button:focus {
    color: var(--default-write);
background-color: var(--accent-color);
}
.unique-button:active {
    color: var(--accent-color);
background-color: var(--default-write);
}


/* FEATURES SECTION */
.features-icons {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;  
        border-width: 270px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px; 
}

.features-list {
    display: flex;
}
.features-list .item + .item {
    margin-left: 30px;
}

.features-title {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-black);
}

.features-text {
    margin-top: 10px;
    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-grey)

}

/* PROJECT SECTION */

.project-section {
    padding-top: 0;
}

.project-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.31;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-black);
margin-bottom: 50px;
}
.project-list {
    display: flex;
    justify-content: space-between;
}
.project-item {
    position: relative;
}
.project-text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--default-write);
}

/* TEAM SECTION */
.team-section {
    background: #F5F4FA;
}

.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.31;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-black);
margin-bottom: 50px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.team-item {
    background-color: var(--default-write);
    border-width: 270px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} 
.name-item {
    padding-top: 30px;
    padding-bottom: 30px;
}

.name-title {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-black);
}
.job-title {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-grey);
}

.soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.soc-link {

    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover, .soc-link:focus {
    background-color: var(--accent-color);
}

.soc-icon {
    width: 20px;
    height: 20px;
    fill: var(--social-icon);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover .soc-icon, 
.soc-link:focus .soc-icon {
    fill: var(--default-write);
}

.partners-title {
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-black);
margin-bottom: 50px;

}
.partner-lists {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* outline: 1px solid red; */
}

.partner-links{
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 170px;
    border: 1px solid var(--social-icon);
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partner-links:hover, .partner-links:focus {
    border-color: var(--accent-color);
}

.partner-links:hover .partner-icons, 
.partner-links:focus .partner-icons {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

.partner-icons {
    fill: var(--social-icon);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* FOOTER SECTION */
.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--second-black);
}

.footer-container{
    display: flex;
    align-items: baseline;
}


.footer-logo-blue {
    margin-bottom: 20px;
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    
}
.footer-logo-white {
    display: inline-block;
    font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--default-write);
}
.adderss-list .address-item + .address-item {
    margin-top: 9px;
}
.address-link {
    display: inline-block;
    font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--default-write);

transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover, .adrs-link:focus {
   color: var(--accent-color);
}
.footer-link {
    display: inline-block;
    font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover, .footer-link:focus {
    color: var(--accent-color);
}
.footer-soc-container{
    margin-left: 70px;
}

.footer-soc-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--default-write);
    margin-bottom: 20px;
}
.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer-soc-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content:center;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
    background-color: var(--accent-color);
}

.footer-soc-icon {
    width: 20px;
    height: 20px;
    fill: var(--default-write);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-soc-icon:hover, .footer-soc-icon:focus {
    fill: var(--default-write);
}
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(-180deg);
    min-height: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), min-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 528px;
    min-height: 581px;
    background-color: var(--default-write);
    border-radius: 4px;
}

.btn-close {
position: absolute;
top: 8px;
right: 8px;
width: 30px;
height: 30px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
}
.modal-btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px, 6px;
}

.no-scroll {
    overflow:hidden ;
}

/* FILTER BUTTONS SECTION */

.buttons {
font-weight: 500;
font-size: 16px;
padding: 6px 22px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-black);
cursor: pointer;
background-color: #F5F4FA;
border-radius: 4px;
border: none;
transition-property: color, background-color, box-shadow, border-radius;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:hover, .buttons:focus {
 color: var(--default-write);
 background-color: var(--accent-color);
 border-radius: 4px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
.buttons-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    /* outline: 2p solid red; */
}
.buttons-list .btn + .btn {
    margin-left: 8px;
}
/* PORTFOLIO SECTION */
.portfolio-overley-list {
    position: relative;
    overflow: hidden;
    
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-title {
    margin-top: 30px;
}
.portfolio-title:nth-child(-n+3) {
    margin-top: 0;
}
.portfolio-link {
    display: block;
    transition-property: box-shadow, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
    border-radius: 4px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-overley {
    position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
 transform: translateY(100%);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 z-index: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 background: rgba(33, 150, 243, 0.9);
 height: 294px;
 padding: 0px 24px;

 font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;

color: #FFFFFF;
}

.portfolio-overley-list:hover .portfolio-overley, 
.portfolio-overley-list:focus .portfolio-overley {
    transform: translateY(0);
}

.portfolio-items {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.name-portfolio {
    font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--main-black);
}

.projects-name {
    margin-top: 4px;
    font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--main-grey);
}
