:root {
    --default-black: #000000;
    --default-write: #FFFFFF;
    --main-black: #212121;
    --second-black: #2F303A;
    --main-grey: #757575;
    --accent-color: #2196F3;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-black)
    
}

/*Cкрытые заголовоки, точки*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

 h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .marker {
    text-decoration: none;
  }

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}
.header-section {
    display:flex
}
/* NAV SECTION*/
.nav-logo-blue {
    display:inline-block;
    margin-top: 24px;
    margin-bottom: 25px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.nav-logo-black {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--default-black);

}
.nav-list .link {
    margin-top: 24px;
    margin-bottom: 0;
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-black);
}
.nav-list .link:hover, .link:focus {
    color: var(--accent-color);
}

/* HEADER SECTION*/
.header-list .link {
    display:inline-block;
    margin-top: 32px;
    margin-bottom: 35px;
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-grey);
}
.header-list .link:hover, .link:focus {
    color: var(--accent-color);
}

/* UNIQUE SECTION */
.unique-section {
    width: 1600px;
height: 600px;
margin-top: 8px;
background: var(--second-black);
}

.unique-title {
    /* display: inline-block; */
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--default-write);
outline: 2px solid red;
}

.unique-button {
    font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
cursor: pointer;
text-align: center;
border-radius: 4px;
padding: 10px 32px;
margin-top: 30px;
color: var(--default-write);
background: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
outline: 2px solid blueviolet;
}
.unique-button:hover, .u-button:focus {
    color: var(--default-write);
background: var(--accent-color);
}
.unique-button:active {
    color: var(--accent-color);
background: var(--default-write);
}


/* FEATURES SECTION */
.features-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-title {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-black)

}
.features-text {
    margin-top: 10px;
    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-grey)
}
.project-section {
    padding-bottom: 94px;
}
/* PROJECT SECTION */
.project-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.31;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-black);
margin-bottom: 50px;
}

/* TEAM SECTION */
.team-section {
    padding-bottom: 94px;
    width: 1600px;
    background: #F5F4FA;
}
.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.31;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-black);
margin-bottom: 50px;
}

.name-title {
    margin-top: 30px;
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
/* text-align: center; */
letter-spacing: 0.03em;
color: var(--main-black);
}
.job-title {
    margin-top: 10px;
    font-size: 16px;
line-height: 1.18;
/* text-align: center; */
letter-spacing: 0.03em;
color: var(--main-grey);
}

/* FOOTER SECTION */
.footer-section {
    width: 1600px;
    height: 252px;
    background: var(--second-black);
}
.footer-logo-blue {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    
}
.footer-logo-white {
    display: inline-block;
    font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--default-write);
}
.address-link {
    display: inline-block;
    margin-top: 20px;
    padding-left: 15px;
    font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--default-write);
}
.address-link:hover, .adrs-link:focus {
   color: var(--accent-color);
}
.footer-link {
    display: inline-block;
    margin-top: 9px;
    padding-left: 15px;
    font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover, .footer-link:focus {
    color: var(--accent-color);
}

/* FILTER BUTTONS SECTION */
.filer-section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.buttons-list {
    width: 575px;
    height: 54px;
/* margin-left: 297px; */
    outline: 2px solid red;
}
.buttons {
    font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-black);
cursor: pointer;
}
.buttons:hover, .buttons:focus {
 color: var(--default-write);
 background: var(--accent-color);
}
/* PORTFOLIO SECTION */
.portfolio-box {
    margin-top: 34px;
}
.name-portfolio {
    width: 322px;
    height: 36px;
    margin-top: 20px;
    font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--main-black);
outline: 1px solid red;
}
.projects-name {
    width: 322px;
    height: 30px;
    margin-top: 4px;
    font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--main-grey);
outline: 1px solid yellow;
}