:root {
    --default-black: #000000;
    --default-write: #FFFFFF;
    --main-black: #212121;
    --second-black: #2F303A;
    --main-grey: #757575;
    --accent-color: #2196F3;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-black)
    
}

/*Cкрытые заголовоки, точки*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
 
  ul {
    list-style: none;
  }
  .marker {
    text-decoration: none;
  }

/* NAV SECTION*/
.nav-logo-blue {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.nav-logo-black {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--default-black);

}
.nav-list .link {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-black);
}
.nav-list .link:hover, .link:focus {
    color: var(--accent-color);
}

/* HEADER SECTION*/
.header-list .link {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-grey);
}
.header-list .link:hover, .link:focus {
    color: var(--accent-color);
}

/* UNIQUE SECTION */
.unique {
    background: var(--second-black);
}

.unique-title {
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--default-write);
}

.unique-button {
    font-weight: 700;
font-size: 16px;
line-height: 1.87;
color: var(--default-write);
background: var(--accent-color);
cursor: pointer;
}
.unique-button:hover, .u-button:focus {
    color: var(--default-write);
background: var(--accent-color);
}
.unique-button:active {
    color: var(--accent-color);
background: var(--default-write);
}


/* FEATURES SECTION */
.features-title {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-black)

}
.features-text {
    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-grey)
}

/* PROJECT SECTION */
.project-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.31;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-black);
}

/* TEAM SECTION */
.team-section {
    background: var(--default-write);
}
.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.31;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-black);
}
.name-title {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
/* text-align: center; */
letter-spacing: 0.03em;
color: var(--main-black);
}
.job-title {
    font-size: 16px;
line-height: 1.18;
/* text-align: center; */
letter-spacing: 0.03em;
color: var(--main-grey);
}

/* FOOTER SECTION */
.footer-section {
    background: var(--second-black);
}
.footer-logo-blue {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    
}
.footer-logo-white {
    font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--default-write);
}
.address-link {
    font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--default-write);
}
.address-link:hover, .adrs-link:focus {
   color: var(--accent-color);
}
.footer-link {
    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover, .footer-link:focus {
    color: var(--accent-color);
}

/* FILTER BUTTONS */
.buttons {
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-black);
cursor: pointer;
}
.buttons:hover, .buttons:focus {
 color: var(--default-write);
 background: var(--accent-color);
}
/* PORTFOLIO SECTION */
.name-portfolio {
    font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--main-black);
}
.projects-name {
    font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--main-grey);
}