.features {
  display: flex;
  gap: 30px;
}

.features__icon {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-width: 270px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.features__title {
  @include fonts(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: $main-title-color;
}

.features__text {
  margin-top: 10px;
  @include fonts(null, 14px, 1.71, 0.03em);
  color: $main-text-color;
}
