.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $second-black-color;
}

.footer__container {
  display: block;
  @include for-size(desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer__box {
  margin-top: 60px;
  @include for-size(desktop) {
    margin-left: 70px;
  }
}

.footer__title {
  @include for-size(mobile-only) {
    text-align: center;
  }
  @include fonts(700, 14px, 1.14, 0.03em);
  font-style: normal;
  text-transform: uppercase;
  color: $default-write-color;
  margin-bottom: 20px;
}

.footer__item {
  display: flex;
  justify-content: center;
  gap: 10px;
}
