.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $second-black-color;
}

.footer__container {
  display: block;
  text-align: center;
  @include for-size(tablet-only) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  @include for-size(desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer__box {
  @include for-size(mobile-only) {
    margin-top: 60px;
  }

  @include for-size(tablet) {
    margin-right: 86px;
  }

  @include for-size(desktop) {
    margin-left: 70px;
  }
}

.footer__title {
  @include fonts(700, 14px, 1.14, 0.03em);
  font-style: normal;
  text-transform: uppercase;
  color: $default-write-color;
  margin-bottom: 20px;

  @include for-size(notDesktop) {
    text-align: center;
  }
}

.footer__item {
  display: flex;
  justify-content: center;
  gap: 10px;
}
