.partners {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.partners__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 170px;
  border: 1px solid $icon-grey-color;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;

  &:hover,
  &:focus {
    border-color: $accent-blue-color;
  }
  &:hover .partners__icon,
  &:focus .partners__icon {
    fill: $accent-blue-color;
    border-color: $accent-blue-color;
  }
}

.partners__icon {
  fill: $icon-grey-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;
}
