.section__title--project {
  @include for-size(mobile) {
    display: none;
  }
  @include for-size(tablet) {
    display: none;
  }
}

.projects {
  @include for-size(mobile) {
    display: none;
  }
  @include for-size(tablet) {
    display: none;
  }
  display: flex;
  gap: 30px;
}

.projects__item {
  position: relative;
}
.projects__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  @include fonts(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;

  color: $default-write-color;
}
