.address {
  flex-grow: 1;
}

.address__list .address__item + .address__item {
  margin-top: 9px;
}
.address__street {
  display: flex;
  font-style: normal;
  @include fonts(null, 14px, 1.71, 0.03em);
  color: $default-write-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;

  @include for-size(mobile-only) {
    justify-content: center;
  }

  // @include for-size(desktop) {
  //   display: inline-block;
  // }

  &:hover,
  &:focus {
    color: $accent-blue-color;
  }
}

.address__link {
  display: flex;
  font-style: normal;
  @include fonts(null, 14px, 1.71, 0.03em);
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;

  @include for-size(mobile-only) {
    justify-content: center;
  }

  // @include for-size(desktop) {
  //   display: inline-block;
  // }

  &:hover,
  &:focus {
    color: $accent-blue-color;
  }
}
