.buttons {
  @include fons(500, 16px, 1.62, 0.03em);
  color: $main-title-color;
  padding: 6px 22px;
  text-align: center;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition-property: color, background-color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;

  &:hover,
  &:focus {
    color: $default-write-color;
    background-color: $accent-blue-color;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.buttons__list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
