.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;

  @include for-size(tablet) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.cards__item {
  @include for-size(tablet-only) {
    width: 354px;
  }
}

.cards__link {
  display: block;
  transition-property: box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;

  @include for-size(tablet) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .cards__overley-text,
  &:focus .cards__overley-text {
    transform: translateY(0);
  }
}

.cards__title {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;

  @include for-size(tablet) {
    flex-grow: 1;
  }
}

.cards__name {
  @include fonts(700, 18px, 2, 0.06em);
  color: $main-title-color;
}

.cards__project {
  margin-top: 4px;
  @include fonts(null, 16px, 1.88, 0.03em);
  color: $main-text-color;
}

.cards__overley {
  position: relative;
  overflow: hidden;
}

.cards__overley-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(101%);
  transition: transform 250ms $cubic-bezier;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(33, 150, 243, 0.9);
  height: 294px;
  padding: 0px 24px;
  @include fonts(400, 18px, 1.56, 0.03em);
  color: $default-write-color;
}
