.contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.contacts__link {
  display: flex;
  align-items: center;
  @include fonts(500, 14px, 1.14, 0.02em);
  color: $main-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;

  &:hover,
  &:focus {
    color: $accent-blue-color;
  }
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;
}
