.logo {
  display: block;
  font-family: "Raleway";
  @include fonts(700, 26px, 1.19, 0.03em);
  color: $accent-blue-color;
}
.header__logo {
  padding: 16px 0px;

  @include for-size(tablet) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @include for-size(desktop) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.footer__logo {
  margin-bottom: 20px;
  @include for-size(mobile-only) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.logo__dark {
  color: $default-black-color;
}
.logo__light {
  color: $default-write-color;
}
