.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  transition: opacity 250ms $cubic-bezier, visibility 250ms $cubic-bezier;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
  min-height: 0;
}
.btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: $default-write-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding-top: 5px;
}
/* Modal-form */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms $cubic-bezier, min-height 250ms $cubic-bezier;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  max-width: 100%;
=======
  max-width: 450px;
>>>>>>> parent of 42e730a (width)
=======
  max-width: 450px;
>>>>>>> parent of 42e730a (width)
  height: 100%;
=======
  width: 450px;
  height: 609px;
>>>>>>> parent of 4ffc6c0 (modal)
  background-color: $default-write-color;
  border-radius: 4px;
  @include for-size(desktop) {
    width: 528px;
    min-height: 581px;
  }
}

.modal__form {
  padding: 40px;
}

.modal__form-title {
  @include fonts(700, 20px, 1.15, 0.03em);
  text-align: center;
  margin-bottom: 12px;
}

.modal__form-label {
  position: relative;

  display: flex;
  flex-direction: column;
  @include fonts(400, 12px, 1.16, 0.01em);
  color: $main-text-color;
  margin-bottom: 10px;
}

.modal__form-label-last {
  margin-bottom: 0;
}

.modal__form-icon {
  position: absolute;

  bottom: 10px;
  left: 12px;
}

.modal__form-input {
  margin-top: 4px;
  padding-left: 42px;

  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms $cubic-bezier;
}

.modal__form-input:focus,
.modal__form-comment:focus {
  border: 1px solid $accent-blue-color;

  outline: none;
}

.modal__form-input:focus + .modal__form-icon {
  fill: $accent-blue-color;
  transition: fill 250ms $cubic-bezier;
}

.modal__form-comment {
  margin-top: 4px;
  padding: 16px 12px;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal__form-label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  @include fonts(400, 12px, 1.16, 0.03em);
  color: $main-text-color;
  margin-top: 20px;
  cursor: pointer;

  @include for-size(desktop) {
    @include fonts(400, 14px, 1.71, 0.03em);
  }
}

.modal__form-label-checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid $main-title-color;
  border-radius: 2px;
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;
}

.modal__form-checkbox:checked + .modal__form-label-checkbox-icon {
  border-color: transparent;
  background-color: $accent-blue-color;
}

.modal__form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__form-label-checkbox-link {
  margin-left: 5px;
  color: $accent-blue-color;
}

.modal__form-button {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px 52px;
  background: $accent-blue-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  @include fonts(700, 16px, 1.87, 0.06em);
  color: $default-write-color;
  cursor: pointer;
  transition: box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
