.section__title {
  @include fonts(700, 36px, 1.31, 0.03em);
  text-align: center;

  color: $main-title-color;
  margin-bottom: 50px;
}
.section {
  padding: 94px 0px;
}
.section--no-padding-top {
  padding-top: 0;
}
