.social-networks {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-networks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $accent-blue-color;
  }
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: $icon-grey-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;
  .social-networks__link:hover &,
  .social-networks__link:focus & {
    fill: $default-write-color;
  }
}

.social-networks--icon-color {
  fill: $default-write-color;
}

.social-networks--background-color {
  background-color: rgba(255, 255, 255, 0.1);
}

// Social-contacts

.social-contacts__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -10px;

  @include for-size(tablet) {
    display: none;
  }
}

.social-contacts__link {
  flex-wrap: wrap;
  align-items: center;

  @include fonts(500, 18px, 1.22, 0.02em);
  margin-top: 64px;
  padding-right: 10px;
  margin-left: 10px;
  color: $accent-blue-color;
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  &:not(:last-child) {
    border-right: none;
  }
}
