.subscribe__form {
  display: block;
  @include for-size(notDesktop) {
    margin-top: 60px;
  }

  @include for-size(desktop) {
    display: flex;
    align-items: flex-end;
    margin-left: 90px;
  }
}

.subscribe__title {
  @include fonts(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: $default-write-color;
  margin-bottom: 10px;
  @include for-size(mobile);
}

.subscribe__input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  @include fonts(400, 16px, 1.25, 0.03em);
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  padding: 15px 16px;
  transition: border 250ms $cubic-bezier;

  @include for-size(mobile-only) {
    max-width: 450px;
    margin-bottom: 20px;
  }
  @include for-size(tablet-only) {
    width: 450px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @include for-size(desktop) {
    width: 358px;
  }

  &:focus {
    border: 1px solid $accent-blue-color;
  }
}

.subscribe__btn {
  @include for-size(notDesktop) {
    margin-left: auto;
    margin-right: auto;
  }
  height: 50px;
  background: $accent-blue-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  @include fonts(700, 16px, 1.87, 0.06em);
  padding: 10px 28px;
  color: $default-write-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 12px;
  transition: background-color $cubic-bezier;
}

.subscribe__btn:hover,
.subscribe__btn:focus {
  background-color: #188ce8;
}

.subscribe__icon {
  margin-left: 10px;
}
