$main-title-color: #212121;
$main-text-color: #757575;
$default-black-color: #000000;
$default-write-color: #ffffff;
$second-black-color: #2f303a;
$accent-blue-color: #2196f3;
$icon-grey-color: #afb1b8;

$cubic-bezier: (0.4, 0, 0.2, 1);
